<html
    dir=xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
    xmlns:sectioncontent="http://typo3.org/ns/GoWest/Sectioncontent/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<v:variable.set name="pageIMG" value=""></v:variable.set>
<v:variable.set name="IMGCrop" value=""></v:variable.set>
<v:variable.register.set name="pageIMG" value=""></v:variable.register.set>
<v:variable.register.set name="IMGCrop" value=""></v:variable.register.set>
    
<f:if condition="{page.txSectioncontentAbstractImage}">
    <f:if condition="{page.txSectioncontentAbstractImage.uid}">
        <v:variable.set name="pageIMG" value="{page.txSectioncontentAbstractImage.uid}"></v:variable.set>
    </f:if>
    <f:if condition="{page.txSectioncontentAbstractImage.reference.uid}">
        <v:variable.set name="pageIMG" value="{page.txSectioncontentAbstractImage.reference.uid}"></v:variable.set>
    </f:if>
    <f:if condition="{page.txSectioncontentAbstractImage.reference.crop}">
        <v:variable.set name="IMGCrop" value="{page.txSectioncontentAbstractImage.reference.crop}"></v:variable.set>
    </f:if>
</f:if>

<f:if condition="{pageIMG} == '' && {page.txSectioncontentAbstractImage2}">
    <f:if condition="{page.txSectioncontentAbstractImage2.uid}">
        <v:variable.set name="pageIMG" value="{page.txSectioncontentAbstractImage2.uid}"></v:variable.set>
    </f:if>
    <f:if condition="{page.txSectioncontentAbstractImage2.reference.uid}">
        <v:variable.set name="pageIMG" value="{page.txSectioncontentAbstractImage2.reference.uid}"></v:variable.set>
    </f:if>
    <f:if condition="{page.txSectioncontentAbstractImage2.reference.crop}">
        <v:variable.set name="IMGCrop" value="{page.txSectioncontentAbstractImage2.reference.crop}"></v:variable.set>
    </f:if>
</f:if>

<f:if condition="{pageIMG} == '' && {page.txSectioncontentAbstractImage3}">
    <f:if condition="{page.txSectioncontentAbstractImage3.uid}">
        <v:variable.set name="pageIMG" value="{page.txSectioncontentAbstractImage3.uid}"></v:variable.set>
    </f:if>
    <f:if condition="{page.txSectioncontentAbstractImage3.reference.uid}">
        <v:variable.set name="pageIMG" value="{page.txSectioncontentAbstractImage3.reference.uid}"></v:variable.set>
    </f:if>
    <f:if condition="{page.txSectioncontentAbstractImage3.reference.crop}">
        <v:variable.set name="IMGCrop" value="{page.txSectioncontentAbstractImage3.reference.crop}"></v:variable.set>
    </f:if>
</f:if>

<f:if condition="{pageIMG} == '' && {page.txSectioncontentAbstractImage4}">
    <f:if condition="{page.txSectioncontentAbstractImage4.uid}">
        <v:variable.set name="pageIMG" value="{page.txSectioncontentAbstractImage4.uid}"></v:variable.set>
    </f:if>
    <f:if condition="{page.txSectioncontentAbstractImage4.reference.uid}">
        <v:variable.set name="pageIMG" value="{page.txSectioncontentAbstractImage4.reference.uid}"></v:variable.set>
    </f:if>
    <f:if condition="{page.txSectioncontentAbstractImage4.reference.crop}">
        <v:variable.set name="IMGCrop" value="{page.txSectioncontentAbstractImage4.reference.crop}"></v:variable.set>
    </f:if>
</f:if>

<f:if condition="{pageIMG} == '' && {page.media}">
    <f:for each="{page.media}" as="media">
        <f:if condition="{pageIMG} == ''">
            <f:if condition="{media.uid}">
                <v:variable.set name="pageIMG" value="{media.uid}"></v:variable.set>
            </f:if>
        </f:if>
    </f:for>
</f:if>

<f:if condition="{pageIMG}">
    <f:if condition="{pageIMG} != ''">
        <v:variable.register.set name="pageIMG" value="{pageIMG}"></v:variable.register.set>
    </f:if>
    <f:if condition="{IMGCrop} != ''">
        <v:variable.register.set name="IMGCrop" value="{IMGCrop}"></v:variable.register.set>
    </f:if>
</f:if>

           
</html>