<html
    dir=xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
    xmlns:sectioncontent="http://typo3.org/ns/GoWest/Sectioncontent/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<v:variable.set name="pageIMG" value=""></v:variable.set>
<v:resource.record.fal as="mediaFirst" table="pages_language_overlay" field="tx_sectioncontent_abstract_image" uid="{page.overlayUid}">
    <f:if condition="{mediaFirst.0}">
         <v:variable.set name="pageIMG" value="{mediaFirst.0}"></v:variable.set>
    </f:if>
</v:resource.record.fal>

<f:if condition="{pageIMG} == ''">
    <v:resource.record.fal as="mediaFirst" table="pages_language_overlay" field="tx_sectioncontent_abstract_image_2" uid="{page.overlayUid}">
        <f:if condition="{mediaFirst.0}">
             <v:variable.set name="pageIMG" value="{mediaFirst.0}"></v:variable.set>
        </f:if>
    </v:resource.record.fal>
</f:if>

<f:if condition="{pageIMG} == ''">
    
    <v:resource.record.fal as="mediaFirst" table="pages_language_overlay" field="media" uid="{page.overlayUid}">
        <f:if condition="{mediaFirst.0}">
             <v:variable.set name="pageIMG" value="{mediaFirst.0}"></v:variable.set>
        </f:if>
    </v:resource.record.fal>
    
    <f:if condition="{pageIMG} == ''">
        <f:for each="{page.media}" as="media">
            <f:if condition="{pageIMG} == ''">
                <v:resource.record.fal as="mediaFirst" table="pages_language_overlay" field="media" uid="{media.uid}">
                    <f:if condition="{mediaFirst.0}">
                         <v:variable.set name="pageIMG" value="{mediaFirst.0}"></v:variable.set>
                    </f:if>
                </v:resource.record.fal>
            </f:if>
        </f:for>
    </f:if>
</f:if>

<f:if condition="{pageIMG} == ''">
    <v:resource.record.fal as="mediaFirst" table="pages" field="tx_sectioncontent_abstract_image" uid="{page.uid}">
        <f:if condition="{mediaFirst.0}">
             <v:variable.set name="pageIMG" value="{mediaFirst.0}"></v:variable.set>
        </f:if>
    </v:resource.record.fal>
</f:if>

<f:if condition="{pageIMG} == ''">
    <v:resource.record.fal as="mediaFirst" table="pages" field="tx_sectioncontent_abstract_image_2" uid="{page.uid}">
        <f:if condition="{mediaFirst.0}">
             <v:variable.set name="pageIMG" value="{mediaFirst.0}"></v:variable.set>
        </f:if>
    </v:resource.record.fal>
</f:if>

<f:if condition="{pageIMG} == ''">
    
    <v:resource.record.fal as="mediaFirst" table="pages" field="media" uid="{page.uid}">
        <f:if condition="{mediaFirst.0}">
             <v:variable.set name="pageIMG" value="{mediaFirst.0}"></v:variable.set>
        </f:if>
    </v:resource.record.fal>
    
    <f:if condition="{pageIMG} == ''">
        <f:for each="{page.media}" as="media">
            <f:if condition="{pageIMG} == ''">
                <v:resource.record.fal as="mediaFirst" table="pages" field="media" uid="{media.uid}">
                    <f:if condition="{mediaFirst.0}">
                         <v:variable.set name="pageIMG" value="{mediaFirst.0}"></v:variable.set>
                    </f:if>
                </v:resource.record.fal>
            </f:if>
        </f:for>
    </f:if>
</f:if>

<f:if condition="{pageIMG} == ''">
    <f:if condition="{page.contents}">
        <f:then>
            <f:for each="{page.contents}" as="content">
                <f:if condition="{content.assets}">
                    <f:then>
                        <v:resource.record.fal as="mediaFirst" table="tt_content" field="assets" uid="{content.uid}">
                            <f:if condition="{mediaFirst.0}">
                                 <v:variable.set name="pageIMG" value="{mediaFirst.0}"></v:variable.set>
                            </f:if>
                        </v:resource.record.fal>
                    </f:then>
                </f:if>
            </f:for>
        </f:then>
    </f:if>
</f:if>

<f:if condition="{pageIMG} != ''">
        <v:variable.register.set name="pageIMG" value="{pageIMG}"></v:variable.register.set>
</f:if>
<f:if condition="{IMGCrop} == ''">
    <v:variable.register.set name="IMGCrop" value="{pageIMG.crop}"></v:variable.register.set>
</f:if>
            
</html>