<html
    dir=xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
    xmlns:sectioncontent="http://typo3.org/ns/GoWest/Sectioncontent/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<f:layout name="None" />

<f:section name="main">
    <f:if condition="{settings.jsFiltertype}">
        <f:render partial="JsFilter" arguments="{_all}"/>
    </f:if>
    
    <f:if condition="{settings.jsFiltertype}">
        <script type="text/javascript">
            var goJsFilter = {
                options: {
                    layoutMode: 'masonry',
                    resetOtherFilters: <f:if condition="{settings.resetJsFilter}"><f:then>true</f:then><f:else>false</f:else></f:if>
                }
            };
        </script>
    </f:if>
    <div class="row">
    <f:if condition="{f:count(subject:'{pages}')}">
        <f:then>
                <f:for each="{pages}" as="page">
                    <v:variable.set name="catIds" value=" "></v:variable.set>
                    <f:for each="{page.categories}" as="cat">
                        <v:variable.set name="catIds" value="{catIds} {cat.uid}"></v:variable.set>
                    </f:for>
                    <div class="col-sm-6 col-md-4 overviewItem<f:if condition="{settings.jsFiltertype}"> filterElement</f:if>" data-categories="{catIds}">
                        <article>
                            <div class="image">
                               
                                <v:variable.set name="pageIMG" value="{page.teaserImg.pageIMG}"></v:variable.set>
                                <v:variable.set name="IMGCrop" value="{page.teaserImg.crop}"></v:variable.set>
                                
                                <f:if condition="{pageIMG}">
                                    <picture>
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source srcset="{f:uri.image(src: pageIMG, treatIdAsReference: 1, width: '730', height: '547c', crop: IMGCrop, cropVariant: 'xs')}" media="(max-width: 767px)" >
                                        <source srcset="{f:uri.image(src: pageIMG, treatIdAsReference: 1, width: '480', height: '360c', crop: IMGCrop, cropVariant: 'sm')}" media="(min-width: 768px) and (max-width: 991px)" >
                                        <source srcset="{f:uri.image(src: pageIMG, treatIdAsReference: 1, width: '420', height: '320c', crop: IMGCrop, cropVariant: 'md')}" media="(min-width: 992px) and (max-width: 1301px)" >
                                        <source srcset="{f:uri.image(src: pageIMG, treatIdAsReference: 1, width: '600', height: '420c', crop: IMGCrop, cropVariant: 'lg')}" media="(min-width: 1302px)" >
                                        <source srcset="{f:uri.image(src: pageIMG, treatIdAsReference: 1, width: '420', height: '320c', crop: IMGCrop, cropVariant: 'md')}"                                          >
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="{f:uri.image(src: pageIMG, treatIdAsReference: 1, width: '420', height: '320c', crop: IMGCrop, cropVariant: 'md')}" alt="{pageIMG.alternative}">
                                    </picture>
                                </f:if>
                            </div>
                            <div class="text">
                                <div class="inner">
                                    <header>
                                        <h2>
                                            <f:if condition="{page.txSectioncontentAbstractTitle}">
                                                <f:then><f:format.crop maxCharacters="120">{page.txSectioncontentAbstractTitle}</f:format.crop></f:then>
                                                <f:else>
                                                    <f:if condition="{page.navTitle}">
                                                        <f:then><f:format.crop maxCharacters="120">{page.navTitle}</f:format.crop></f:then>
                                                        <f:else><f:format.crop maxCharacters="120">{page.title}</f:format.crop></f:else>
                                                    </f:if>
                                                </f:else>
                                            </f:if>
                                        </h2>
                                    </header>
                                    <p class="description"><f:format.nl2br><f:format.crop maxCharacters="80">{page.txSectioncontentAbstractDescription}</f:format.crop></f:format.nl2br></p>
                                </div>
                            </div>
                            <f:link.typolink parameter="{page.uid}"></f:link.typolink>
                        </article>
                    </div>
                </f:for>
        </f:then>
        <f:else>
        </f:else>
    </f:if>
    </div>
</f:section>
</html>