@import "../../../../gowest_theme/Resources/Public/Sass/functions";
@import "../../../../gowest_theme/Resources/Public/Sass/mixins/breakpoints";
@import "../../../../gowest_theme/Resources/Public/Sass/mixins/gowest";

.overviewItem {
    
    article {
        @include aspect-ratio(4,3);
        position: relative;
        background: $primary-color;
        overflow: hidden;
        
        > a {
            z-index: 30;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            text-indent: -9999em;
        }
        
        .image {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            @include transform(scale(1.1));
            @include transition(.2s ease);
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                left: 0;
                top: 0;
                object-position: center center;
                font-family: 'object-fit: cover; object-position: center center;';
            }
        }
        
        &:hover .image {
            @include transform(scale(1));
        }
        
        .text {
            z-index: 10;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            @include transition(.2s ease);
            
            .inner {
                position: absolute;
                left: 50%;
                top: 50%;
                @include transform(translate(-50%,-50%));
                
                * {
                    color: #FFF;
                }
            }
        }
        
        &:hover .text {
            background: rgba($primary-color, 0.8);
        }
    }
    
        
    
    
}